/**
 * Global CSS overrides for a more Apple-like style.
 */

/* Light mode */
:root {
  --ifm-color-primary: #007aff; /* Apple blue */
  --ifm-color-primary-dark: #0066cc;
  --ifm-color-primary-darker: #005bb5;
  --ifm-color-primary-darkest: #004c99;
  --ifm-color-primary-light: #338fff;
  --ifm-color-primary-lighter: #66b2ff;
  --ifm-color-primary-lightest: #99ccff;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 122, 255, 0.1); /* subtle highlight */
}

/* Dark mode */
[data-theme='dark'] {
  --ifm-color-primary: #0a84ff; /* macOS blue accent */
  --ifm-color-primary-dark: #0066cc;
  --ifm-color-primary-darker: #005bb5;
  --ifm-color-primary-darkest: #004c99;
  --ifm-color-primary-light: #339cff;
  --ifm-color-primary-lighter: #66b3ff;
  --ifm-color-primary-lightest: #99ccff;

  --docusaurus-highlighted-code-line-bg: rgba(10, 132, 255, 0.2); /* subtle highlight */
}
